@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500&display=swap');
@import	url('https://fonts.googleapis.com/css?family=Cinzel|Josefin+Slab|Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

body{
    background-color: black;
}
.navbar{
    border-radius: 3px;
}
.navbar-light{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.65);
}

.navbar-brand{
	font-family: 'Turret Road';				/*Don't change this*/
	font-weight: bolder;
	font-size:35px;
	color:lightcoral !important;
}

.nav-link{
	font-size:15px;
	margin:10px;
	font-family: 'Ubuntu'!important;
	color:black !important;
	/* font-family:Roboto Condensed; */
	letter-spacing: 2px;
}
.nav-link:hover{
	color:grey!important;
}
/*#00E8E8 */
.active .nav-link{
	color:grey!important;
}
